body {
  overflow-x: hidden;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(58, 74, 53, 0.402) 0%,
      rgba(157, 193, 142, 0.464) 50%,
      rgba(208, 231, 148, 0.288) 100%
    ),
    url("https://images.unsplash.com/photo-1604184313000-de10e6bb3c09?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.textoTitulo {
  width: 30vw;
  min-width: clamp(350px, 75%, 600px);
  text-align: left;
  
}

.textoTitulo h1 {
  font-size: 8rem;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8;
  color: #ffffff;
  margin-left: 5%;
  font-weight: bold;
  text-shadow: 0 0px 4px #0000007e;
}

.textoTitulo p {
  color: #212921;
  margin-left: 5%;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  font-weight: bold;
}

.promociones h3 {
  padding: 35px;
  font-size: 2.5rem;
  border-bottom: 2px solid #e6e6e6;
  border-bottom-width: 50%;
}

.card {
  width: clamp(350px, 75%, 750px);
  margin: 2em 0;
  transition: 0.2s all;
}

.card img {
  height: 200px;
  object-fit: cover;
  object-position: center;
}
