.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(63, 94, 74, 0.6026785714285714) 50%,
      rgba(80, 122, 100, 0.4962359943977591) 100%
    ),
    url(https://images.unsplash.com/photo-1585079235832-601cb6a6a99f?q=80&w=2703&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

section {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.volver {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
}
.volver a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  border: 1px solid #507a64;
  background-color: #507a64;
  border-radius: 5px;
}

.volver a:hover {
  color: #507a64;
  background-color: #ffffff6f;
  transition: 0.3s all;
}

.btnRegistro {
  width: 100%;
  text-align: end;
}

.btnRegistro a {
  color: #507a64;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.btnRegistro a:hover {
  color: #df9e2f;
  transition: 0.3s all;
}

.row {
  align-items: center;
}

.form-login {
  min-width: 350px;
  max-width: 900px;
  padding: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 50px #3f5e4a;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #507a64;
  margin-bottom: 20px;
}

.col-form-label {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.form-control {
  background-color: #ffffff;
  color: #507a64;
  border-color: #507a64;
}
.btn-primary {
  margin-top: 50px;
  background-color: #507a64;
  border-color: #507a64;
}
.btn-primary:hover {
  background-color: #3f5e4a;
  border-color: #3f5e4a;
}

.imagenAside {
  background-image: url("https://images.unsplash.com/photo-1525498128493-380d1990a112?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
  width: 50vw;
  box-shadow: 0 0 50px #3f5e4a;
}
/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
  }
  .imagenAside {
    width: 0vw;
    height: 0vh;
  }
}
